*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
  font-family: Arial, Helvetica, sans-serif;
  background-color:rgb(230, 228, 228) ;
  padding: 20px;
}

h1{
  color: rgb(22, 22, 86);
}

ul{
  list-style: none;
  align-items: center;
  display: inline-block;

}

ul li{
  color: rgb(22, 22, 86);
}

.but1{
  background-color: red;
  color: white;
  padding: 13px;
  border-radius: 5px;
  border: 0px solid;
}

.but2{
  background-color: rgb(230, 228, 228);
  padding: 13px;
  color: rgb(22, 22, 86);
  border-radius: 5px;
  border: 1px solid rgb(178, 167, 167);
}